html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/bg.gif");
  color: #000;
  width: 100%;
}

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-container {
  position: fixed;
  z-index: 4;
  top: 0;
}

.navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 8%;
  font-size: large;
  z-index: 4;
}

.navbar a {
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.navbar a:hover {
  box-shadow: inset 200px 0 0 0 rgb(216, 214, 214);
}

.logo-img {
  max-height: 50px;
  max-width: 100px;
  overflow: hidden;
}

h1 {
  margin: 35px 0;
}

p {
  margin: 0 0 25px;
  font-size: 15px;
}

.model-list > a {
  display: inline-block;
  margin-bottom: 1.5em;
  padding: 0 10px;
}

.top-img {
  max-width: 90%;
  height: auto;
}

a:not(.nav-item) {
  text-decoration: none !important;
}

a:not(.nav-item):hover {
  color: #f00 !important;
  text-decoration: underline !important;
}

p.m_txt {
  width: 90%;
  margin: 0 auto;
  display: block;
}

@media (max-width: 767px) {
  html,
  body {
    width: 100%;
  }

  h1 {
    margin: 15px 0;
  }

  #youtube-video-thumbnail {
    max-width: 80%;
    height: auto;
  }

  #youtube-video {
    display: none;
  }

  p.m_txt {
    width: 100%;
  }
}

@media (min-width: 767px) {
  .content-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .content-section:before {
    margin-top: -60px;
    margin-bottom: 40px;
  }

  p {
    margin: 0 0 30px;
    font-size: 18px;
  }

  #youtube-video-thumbnail {
    display: none;
  }
}
